@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<div class="lista-privacidade">
    <p>O MenuEduca valoriza sua privacidade. Esta política explica como tratamos seus dados:</p>

    <p class="p-diferente">Coleta de Informações:</p>
    <ol>
        <li>Coletamos apenas os dados necessários para o funcionamento do sistema, como nome, e-mail e informações enviadas pelos usuários (avaliações, receitas médicas em JPG, entre outros).</li>
    </ol>

    <p class="p-diferente">Uso dos Dados:</p>
    <ol>
        <li>Os dados são utilizados exclusivamente para personalizar a experiência no MenuEduca, permitir a edição do cardápio por nutricionistas e processar avaliações e receitas enviadas pelos alunos.</li>
    </ol>

    <p class="p-diferente">Compartilhamento de Informações e Segurança:</p>
    <ol>
        <li>Não compartilhamos suas informações com terceiros, exceto quando exigido por lei.</li>
        <li>Adotamos medidas para proteger seus dados contra acessos não autorizados.</li>
    </ol>

    <p class="p-diferente">Seus Direitos:</p>
    <ol>
        <li>Você pode solicitar a exclusão ou correção de seus dados a qualquer momento.</li>
    </ol>

    <p>Ao utilizar o MenuEduca, você concorda com esta política. Para mais informações, entre em contato conosco.</p>
</div>

