@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #a46c3e; /* caramelo */
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #ddc09f !important; /* bege claro */
    font-family: 'Libre Caslon Display', serif !important;
    color: #432615 !important; /* marrom escuro */
}

h1 {
    padding: 10px;
    text-align: center !important;
    color: #794623 !important; /* marrom médio */
}

.table {
    color: #432615 !important; /* marrom escuro */
    text-align: center !important;
}

a {
    color: #a46c3e !important; /* caramelo */
    background-color: transparent !important;
    text-decoration: none !important;
    border-radius: 50px !important;
    transition: background-color 0.3s !important;
    padding: 5px !important;
}

    a:hover {
        background-color: #c0956b !important; /* bege quente */
    }

p {
    text-align: center !important;
    padding: 5px !important;
    font-size: 20px !important;
    color: #432615 !important; /* marrom escuro */
}

.lista-privacidade {
    text-align: justify !important;
    font-size: 20px !important;
}

.p-diferente {
    text-align: justify !important;
}

footer {
    text-align: center !important;
    background-color: white !important;
}

.custom-btn {
    background-color: #432615;
    color: #fff;
    border: none;
}

    .custom-btn:hover {
        background-color: #5a3420; /* um tom um pouco mais claro para hover */
    }
